* {
  padding: 0;
  margin: 0;
  border: none;
  background-color: #000000;
}
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  border-color: #f04a00;
  border-radius: 10px;
  border-width: thick;
}

.login-wrapper {
  width: 400px;
  height: auto;
  padding: 40px;
  box-sizing: border-box;
  background-color: #000000;

  border-color: #f04a00;

  border-radius: 10px;
  text-align: center;
}

#login-banner {
  margin-top: 20px;
}

#login-form > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  border: solid;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #000000;
  border-color: #f04a00;
}

#login-form > input::placeholder {
  color: #f04a00;
  border-color: #f04a00;
}
#login-form > input[type="submit"] {
  color: #fff;
  font-size: 16px;
  background-color: #f04a00;
  margin-top: 20px;
  cursor: pointer;
}

#login-form > input[type="checkbox"] {
  display: none;
}

#login-form > label {
  color: #f04a00;
}
#login-form > button {
  width: 100%; /* 버튼 가로 크기 */
  height: 48px; /* 버튼 높이 */
  color: #fff;
  font-size: 16px;
  background-color: #f04a00;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: 20px 0;
}

#login-form > button:hover {
  background-color: #d03e00;
}

.signup-link a {
  color: #fff;
  font-size: 16px;
  background-color: #f04a00;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

.signup-link a:hover {
  background-color: #d03e00;
}

#login-below1 {
  font-size: 40px;
  color: #f04a00;
}

#login-below2 {
  font-size: 20px;
  color: #f04a00;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .login-wrapper {
    width: 90%;
    padding: 20px;
  }

  #login-banner img {
    width: 90%;
    height: auto;
  }
}

#login-form input:-webkit-autofill {
  background-color: #000000 !important;
  color: #f04a00 !important;
  border-color: #f04a00 !important;
}

#login-form > input {
  color: #f04a00;}