<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ movie.title }}</title>
</head>
<body>
    <h1>{{ movie.title }}</h1>
    <p>Genres: {{ movie.genre }}</p>
    <p>Duration: {{ movie.time }} minutes</p>
    <p>Summary: {{ movie.summary }}</p>
    <p>Release Date: {{ movie.release_date }}</p>
    <p>Views: {{ movie.views }}</p>

    <video controls>
        <source src="{{ movie.streaming_url.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</body>
</html>