<form method="post">
    {% csrf_token %}

     {% if error %}
        <div style="color: red; font-weight: bold; margin-bottom: 10px;">
            {{ error }}
        </div>
    {% endif %}

    <label>Username:</label>
    <input type="text" name="username" required><br>

    <label>Email:</label>
    <input type="email" name="email" required><br>

    <label>Password:</label>
    <input type="password" name="password" required><br>

    <label>First Name:</label>
    <input type="text" name="first_name"><br>

    <label>Last Name:</label>
    <input type="text" name="last_name"><br>

    <label>Date of Birth (YYYY-MM-DD):</label>
    <input type="text" name="date_of_birth"><br>

    <label>Gender:</label>
    <select name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select><br>

     <label>Role:</label>
    <select name="role">
        <option value="viewer">Viewer</option>
        <option value="host">Host</option>
    </select><br>

    <label>Bank:</label>
    <input type="text" name="bank"><br>

    <label>Phone Number:</label>
    <input type="text" name="phone_number"><br>

    <label>Address:</label>
    <input type="text" name="address"><br>

    <button type="submit">Sign Up</button>
</form>